<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/cards.css"/>
    <link rel="stylesheet" href="/stylesheets/signup.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <%- include('navbar') -%>
    <div id="content">
      <div class="mdc-card">
        <div>Add Trip</div>
        <button onclick="location.href = '/add_trip';" class="mdc-button mdc-card__action mdc-card__action--button">
          <span class="mdc-button__label">Add</span>
        </button>
      </div>
      <% if (trips.length == 0) { %>
        <h1 id="nothing">None</h1>
      <% } %>
      <% for (var i = 0; i < trips.length; i++) { %>
        <div class="mdc-card">
          <div class="label"><b>Name:</b> <%= trips[i].name %></div>
          <br>
          <div class="label"><b>Flight:</b></div>
          <div class="label">Flight Code: <%= flights[i].flight_code %></div>
          <div class="label">Date: <%= flights[i].date %></div>
          <br>
          <div class="label"><b>Stay:</b></div>
          <div class="label">Name of Accommodation: <%= stays[i].name %></div>
          <div class="mdc-card__actions">
            <button class="mdc-button mdc-card__action mdc-card__action--button">
              <span class="mdc-button__label">Details</span>
            </button>
            <form id='delete' action='/trips/delete' method="POST">
              <input type='hidden' value=<%= trips[i]._id %> name='trip_id'>
              <button class="mdc-button mdc-card__action mdc-card__action--button" type='submit' value="Delete">
                <span class="mdc-button__label">Delete</span>
              </button>
            </form>
          </div>
          <hr>
        </div>
      <% } %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </body>
</html>
