<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="content">
      <% if (flights.length == 0) { %>
        <h1 id="nothing">None</h1>
      <% } %>
      <% for (var i = 0; i <flights.length; i++) { %>
        <div id="">
          <div class="label"><b>Flight:</b></div>
          <div class="label">Flight Code: <%= flights[i].flight_code %></div>
          <div class="label">Date: <%= flights[i].date %></div>
          <div class="label">Departing From: <%= flights[i].departing_airport %></div>
          <div class="label">Arriving At: <%= flights[i].arriving_airport %></div>
          <div class="label">Departure Time: <%= flights[i].departure_time %></div>
          <div class="label">Arrival Time: <%= flights[i].arrival_time %></div>
          <form id='delete' action='/flights/delete' method="POST">
            <input type='hidden' value=<%= flights[i]._id %> name='flight_id'>
            <input type='submit' value="Delete">
          </form>
          <hr>
        </div>
      <% } %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </body>
</html>