<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('navbar') -%>
    <div id="content">
      <% if (stays.length == 0) { %>
        <h1 id="nothing">None</h1>
      <% } %>
      <% for (var i = 0; i <stays.length; i++) { %>
        <div id="">
          <div class="label"><b>Stay:</b></div>
          <div class="label">Name of Accommodation: <%= stays[i].name %></div>
          <div class="label">Address: <%= stays[i].address %></div>
          <div class="label">Check-In Date: <%= stays[i].checkin_date %></div>
          <div class="label">Check-Out Date: <%= stays[i].checkout_date %></div>
          <div class="label">Check-In Time: <%= stays[i].checkin_time %></div>
          <div class="label">Check-Out Time: <%= stays[i].checkout_time %></div>
          <form id='delete' action='/stays/delete' method="POST">
            <input type='hidden' value=<%= stays[i]._id %> name='stay_id'>
            <input type='submit' value="Delete">
          </form>
          <hr>
        </div>
      <% } %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </body>
</html>